
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  font-family: "Helvetica";
}

img {
  max-width: 100%;
}

h1{
  color: #eceff1;
  margin: 20px;
}

input{
  margin-bottom: 10px;
  margin-right: 10px;
}
.container{
  background-color: #607d8b;
}

#contact-form{
  background-color: #EE6E73;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(71,71,71,1);
  -moz-box-shadow: 6px 6px 5px 0px rgba(71,71,71,1);
  box-shadow: 6px 6px 5px 0px rgba(71,71,71,1);
}

.form-control{
  width: 49%;
}

.contact-label{
  background-color: #0277bd ;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #90a4ae;
  border-radius: 5px;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(71,71,71,1);
  -moz-box-shadow: 6px 6px 5px 0px rgba(71,71,71,1);
  box-shadow: 6px 6px 5px 0px rgba(71,71,71,1);
}

.header-cat{
  color: #cfd8dc;
  text-align: center;
  font-size: 18px;
  // border: 2px solid #607d8b;
  border-radius: 5px;
  height: 60px;
  padding-top: 17px;

  span{
    margin: 5px;
  }
}

.contact-name{
  text-align: center;
}

.contact-email{
  text-align: center;
}

.contact-phone{
  text-align: center;

}

.contact-twitter{
  text-align: center;

}

.contact-ig{
  text-align: center;
}

.glyphicon-plus{
  margin-right: 5px;
}

.list-group{
  -webkit-box-shadow: 6px 6px 5px 0px rgba(71,71,71,1);
  -moz-box-shadow: 6px 6px 5px 0px rgba(71,71,71,1);
  box-shadow: 6px 6px 5px 0px rgba(71,71,71,1);
}

.header-name{
  padding-left: 0px;

  span{
    padding-left: -20px;

  }
}

.glyphicon-list-alt{
  margin-right: 15px;
  vertical-align: top;
}
