
  <div class="form-group">
    <label class="col-md-12"for="">New Contact Info:</label>
    <input class="form-control col-md-6" type="text" id="new-name" name="new-name" placeholder="Name">
    <input class="form-control col-md-6" type="email" id="new-email" name="new-email" placeholder="Email Address">
    <input class="form-control col-md-6" type="text" id="new-phone" name="new-phone" placeholder="Phone Number">
    <input class="form-control col-md-6" type="text" id="new-twitter" name="new-twitter" placeholder="Twitter Handle">
    <input class="form-control col-md-6" type="text" id="new-ig" name="new-ig" placeholder="Instagram Username">


    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Add New Contact</button>
  </div>
