
  <div class="form-group">
    <label for="">New Contact</label>
    <input type="text" id="new-name" name="new-name" placeholder="Name">
    <input type="text" id="new-email" name="new-email" placeholder="Email Address">
    <input type="text" id="new-twitter" name="new-twitter" placeholder="Twitter Handle">
    <input type="text" id="new-ig" name="new-ig" placeholder="Instagram Username">

    <input type="submit" name="submit" value="Add New Contact">
  </div>
