<div class="row">
  <span class="header-cat col-md-2 col-md-offset-1">Name</span>
  <span class="header-cat col-md-2">Email Address</span>
  <span class="header-cat col-md-2">Phone Number</span>
  <span class="header-cat col-md-2">Twitter</span>
  <span class="header-cat col-md-2 ">Instagram</span>
</div>
