<div class="row contact-label">
  <span class="header-cat header-name col-md-2 col-md-offset-1"> <span class="glyphicon glyphicon-user"></span>Name</span>
  <span class="header-cat col-md-2"><span class="glyphicon glyphicon-envelope"></span>Email Address</span>
  <span class="header-cat col-md-2"><span class="glyphicon glyphicon-phone"></span>Phone Number</span>
  <span class="header-cat col-md-2"><span class="glyphicon glyphicon-bullhorn"></span>Twitter</span>
  <span class="header-cat col-md-2 "><span class="glyphicon glyphicon-camera"></span>Instagram</span>
</div>
